<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary" type="button" routerLink="/seller/add-product"><i class="bi bi-plus"></i>Add
    New</button>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <button class="btn btn-warning m-2" routerLink="/seller/edit-product/1"><i
            class="bi bi-pencil-square"></i></button>
        <button class="btn btn-danger" (click)="deleteProduct()"><i class="bi bi-trash"></i></button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>
        <button class="btn btn-warning m-2" routerLink="/seller/edit-product/1"><i
            class="bi bi-pencil-square"></i></button>
        <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>
