<!-- <h1>DASHBOARD</h1> -->
<!-- <hr> -->
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Product Menu</h4>
      </div>
      <div class="card-body">
        <!-- <h1 class="card-title pricing-card-title">13<small class="text-muted fw-light"> product</small></h1> -->
        <ul class="list-unstyled mt-3 mb-4">
          <!-- <li>Active Product</li> -->
          <!-- <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li> -->
        </ul>
        <button type="button" routerLink="/seller/manage-product" class="w-100 btn btn-lg btn-primary">Manage
          Product</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Order Menu</h4>
      </div>
      <div class="card-body">
        <!-- <h1 class="card-title pricing-card-title">1 <small class="text-muted fw-light">order</small></h1> -->
        <ul class="list-unstyled mt-3 mb-4">
          <!-- <li>Orders that need to be shipped</li> -->
          <!-- <li>10 GB of storage</li>
          <li>Priority email support</li>
          <li>Help center access</li> -->
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary" routerLink="/seller/manage-order">Manage
          orders</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm ">
      <div class="card-header py-3 ">
        <h4 class="my-0 fw-normal">Simple Report</h4>
      </div>
      <div class="card-body">
        <!-- <h1 class="card-title pricing-card-title">Rp 100.000<small class="text-muted fw-light"></small></h1> -->
        <ul class="list-unstyled mt-3 mb-4">
          <!-- <li>Total month's income</li>
          <li>Total month's order</li>
          <li>Total Visitors</li>
          <li>Best selling product</li> -->
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary" routerLink="/seller/simple-report">Report</button>
      </div>
    </div>
  </div>
</div>

<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Seller Insights</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <!-- <div
        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#collection" /></svg>
      </div> -->
      <h3 class="fs-2 text-body-emphasis">Increase store revenue</h3>
      <p>Do you want to see your sales figures soar? Now is the time to take action! With tailored solutions customized
        to your business, we will guide you through the necessary steps to increase your store revenue.</p>
      <a routerLink="/seller/article" class="icon-link">
        Read Article
        <!-- <svg class="bi">
          <use xlink:href="#chevron-right" /></svg> -->
      </a>
    </div>
    <div class="feature col">
      <!-- <div
        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#people-circle" /></svg>
      </div> -->
      <h3 class="fs-2 text-body-emphasis">Increasing buyer</h3>
      <p>Are you ready to take your business to new heights? It's time to focus on increasing your buyer base. We
        understand the critical role buyers play in driving your success, and we're here to help you expand your
        customer reach like never before.</p>
      <a routerLink="/seller/article" class="icon-link">
        Read Article
        <svg class="bi">
          <use xlink:href="#chevron-right" /></svg>
      </a>
    </div>
    <div class="feature col">
      <!-- <div
        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#toggles2" /></svg>
      </div> -->
      <h3 class="fs-2 text-body-emphasis">Free delivery</h3>
      <p>Say goodbye to shipping fees and hello to a seamless shopping experience. We are thrilled to offer you Free
        Shipping on all your orders. Experience the joy of hassle-free shopping right from the comfort of your own home.
      </p>
      <a routerLink="/seller/article" class="icon-link">
        Read Article
        <!-- <svg class="bi">
          <use xlink:href="#chevron-right" /></svg> -->
      </a>
    </div>
  </div>
</div>
