<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Total Produk</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">13<small class="text-muted fw-light"> produk</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Produk aktif</li>
          <!-- <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li> -->
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Detail</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Total Pesanan</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">1 <small class="text-muted fw-light">pesanan</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Pesanan yang perlu dikirim</li>
          <!-- <li>10 GB of storage</li>
          <li>Priority email support</li>
          <li>Help center access</li> -->
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary">Atur Pesanan</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-bg-primary border-primary">
        <h4 class="my-0 fw-normal">Total Pendapatan</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Rp 100.000<small class="text-muted fw-light"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Pendapatan bulan ini</li>
          <!-- <li>15 GB of storage</li>
          <li>Phone and email support</li>
          <li>Help center access</li> -->
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary">Report</button>
      </div>
    </div>
  </div>
</div>
