<h1 class="text-center">SIMPLE REPORT</h1>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h5 class="my-0 fw-normal">Total Product</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title pricing-card-title">{{numberOfProduct}}<small class="text-muted fw-light"> product</small>
        </h3>
        <ul class="list-unstyled mt-3 mb-4">
          <!-- <li>Active Product</li> -->
        </ul>
        <!-- <button type="button" routerLink="/seller/manage-product" class="w-100 btn btn btn-primary">Manage
          Product</button> -->
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h5 class="my-0 fw-normal">Total Orders</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title pricing-card-title">{{numberOfOrder}}<small class="text-muted fw-light"> orders</small>
        </h3>
        <ul class="list-unstyled mt-3 mb-4">
          <!-- <li>Last one month order</li> -->
        </ul>
        <!-- <button type="button" routerLink="/seller/manage-product" class="w-100 btn btn btn-primary">Manage
          Product</button> -->
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h5 class="my-0 fw-normal">Total Buyer</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title pricing-card-title">{{numberOfBuyer}}<small class="text-muted fw-light"> buyers</small>
        </h3>
        <ul class="list-unstyled mt-3 mb-4">
          <!-- <li>Last one month visitors</li> -->
        </ul>
        <!-- <button type="button" routerLink="/seller/manage-product" class="w-100 btn btn btn-primary">Manage
          Product</button> -->
      </div>
    </div>
  </div>
</div>
<div class="d-grid gap-2">
  <button class="btn btn-outline-primary" type="button" routerLink="/seller/dashboard">Back</button>
</div>
