<div class="d-flex flex-column" style="min-height: 100vh;">
  <!-- ngIf utk header buyer / seller -->
  <app-b-header *ngIf="(urlSplit !== 'seller')&&((urlSplit !== 'login') && (urlSplit !== 'register'))"></app-b-header>
  <app-s-header *ngIf="(urlSplit == 'seller')&&((urlSplit !== 'login') && (urlSplit !== 'register'))"></app-s-header>

  <div class="container p-3 mb-3 flex-grow-1">
    <router-outlet></router-outlet>
  </div>

  <!-- ngIf utk footer buyer / seller -->
  <app-b-footer *ngIf="(urlSplit !== 'seller')&&((urlSplit !== 'login') && (urlSplit !== 'register'))"></app-b-footer>
  <app-s-footer *ngIf="(urlSplit == 'seller')&&((urlSplit !== 'login') && (urlSplit !== 'register'))"></app-s-footer>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
<!-- <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script> -->
