<div #auth *ngIf="['login', 'register'].includes(urlSplit)">
  <router-outlet></router-outlet>
</div>

<div #buyer_app>
  <app-b-header *ngIf="!['login', 'register', 'seller'].includes(urlSplit)"></app-b-header>

  <div #auth *ngIf="['login', 'register'].includes(urlSplit)">
    <router-outlet></router-outlet>
  </div>

  <div class="container p-3 d-flex flex-column" style="min-height: calc(100vh - 152.4px);" *ngIf="!['login', 'register', 'seller'].includes(urlSplit)">
    <router-outlet></router-outlet>
    <div class="flex-grow-1"></div>
  </div>
  <app-b-footer *ngIf="!['login', 'register', 'seller'].includes(urlSplit)"></app-b-footer>
</div>

<div #seller_app *ngIf="urlSplit === 'seller'">
  <app-s-header></app-s-header>
  <div class="container p-3 d-flex flex-column" style="min-height: calc(100vh - 152.4px);">
    <router-outlet></router-outlet>
    <div class="flex-grow-1"></div>
  </div>
  <app-s-footer></app-s-footer>
</div>