<main class="form-signin">
  <div class="card shadow-sm bg-light">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <h1 class="h3 mb-3 fw-normal text-center">
        <i class="bi bi-bootstrap-fill text-success" style="font-size: 32px;"></i> REGISTER
      </h1>

      <div class="row g-2">
        <div class="col-6">
          <div class="form-floating">
            <input type="email" class="form-control {{submitted ? 'ng-submitted' : ''}}" formControlName="email">
            <label for="floatingInput">Email address</label>
            <span *ngIf="
              (submitted && registerForm.get('email').errors) || 
              (registerForm.get('email').errors && registerForm.get('email').touched)" style="color: red;">
              Please enter a valid email!
            </span>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            <input type="password" class="form-control {{submitted ? 'ng-submitted' : ''}}" formControlName="password">
            <label for="floatingPassword">Password</label>
            <span *ngIf="
              (submitted && registerForm.get('password').errors) || 
              (registerForm.get('password').errors && registerForm.get('password').touched)" style="color: red;">
              Please enter a valid password!
            </span>
          </div>
        </div>
      </div>

      <div class="row g-2">
        <div class="col-6">
          <div class="form-floating">
            <input type="text" class="form-control {{submitted ? 'ng-submitted' : ''}}" formControlName="name">
            <label for="floatingInput">Name</label>
            <span *ngIf="
              (submitted && registerForm.get('name').errors) || 
              (registerForm.get('name').errors && registerForm.get('name').touched)" style="color: red;">
              Please enter a valid name!
            </span>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            <input type="number" class="form-control {{submitted ? 'ng-submitted' : ''}}"
              formControlName="phone_number">
            <label for="floatingInput">Phone Number</label>
            <span *ngIf="
              (submitted && registerForm.get('phone_number').errors) || 
              (registerForm.get('phone_number').errors && registerForm.get('phone_number').touched)"
              style="color: red;">
              Please enter a valid phone number!
            </span>
          </div>
        </div>
      </div>

      <div class="row g-2">
        <div class="col-12">
          <div class="form-floating">
            <input type="text" class="form-control {{submitted ? 'ng-submitted' : ''}}" formControlName="address">
            <label for="floatingInput">Address</label>
            <span *ngIf="
              (submitted && registerForm.get('address').errors) || 
              (registerForm.get('address').errors && registerForm.get('address').touched)" style="color: red;">
              Please enter a valid address!
            </span>
          </div>
        </div>

        <div class="col-12">
          <hr>
        </div>

        <div class="col-12">
          <select class="form-select {{submitted ? 'ng-submitted' : ''}}" formControlName="role">
            <option selected disabled>--PLEASE SELECT ONE--</option>
            <option ngValue="Buyer">Buyer</option>
            <option ngValue="Seller">Seller</option>
          </select>
          <span *ngIf="
            (submitted && registerForm.get('role').errors) || 
            (registerForm.get('role').errors && registerForm.get('role').touched)" style="color: red;">
            Please enter a valid role!
          </span>
        </div>
      </div>

      <div class="m-4 text-center">
        <a routerLink="/login">Already have account? Login here</a>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">REGISTER</button>
    </form>
  </div>
</main>
