<form [formGroup]="editForm" (ngSubmit)="onUpdate()">
  <input type="text" formControlName="id" class="form-control" [hidden]="true">
  <input type="text" formControlName="seller_id" class="form-control" [hidden]="true">
  <input type="text" formControlName="seller_name" class="form-control" [hidden]="true">
  <input type="text" formControlName="created_on" class="form-control" [hidden]="true">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="text" formControlName="name" class="form-control">
    <span *ngIf="
      (submitted && editForm.get('name').errors) || 
      (editForm.get('name').errors && editForm.get('name').touched)" style="color: red;">
      Please enter a valid name!
    </span>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Image URL</label>
    <input type="text" formControlName="image" class="form-control">
    <span *ngIf="
    (submitted && editForm.get('image').errors) || 
    (editForm.get('image').errors && editForm.get('image').touched)" style="color: red;">
      Please enter a valid image URL!
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-text">Description</span>
    <textarea class="form-control" formControlName="description" aria-label="With textarea"></textarea>
    <span *ngIf="
    (submitted && editForm.get('description').errors) || 
    (editForm.get('description').errors && editForm.get('description').touched)" style="color: red;">
      Please enter a valid description!
    </span>
  </div>
  <div class="mb-3 mt-3">
    <label for="exampleFormControlInput1" class="form-label">Price</label>
    <input type="number" formControlName="price" class="form-control">
    <span *ngIf="
    (submitted && editForm.get('price').errors) || 
    (editForm.get('price').errors && editForm.get('price').touched)" style="color: red;">
      Please enter a valid price!
    </span>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Stock</label>
    <input type="number" formControlName="stock" class="form-control">
    <span *ngIf="
    (submitted && editForm.get('stock').errors) || 
    (editForm.get('stock').errors && editForm.get('stock').touched)" style="color: red;">
      Please enter a valid stock!
    </span>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Category</label>
    <select class="form-select" formControlName="category_id" aria-label="Default select example">
      <option selected disabled>--PLEASE SELECT ONE--</option>
      <option ngValue="clothing">Clothing</option>
      <option ngValue="electronics">Electronics</option>
      <option ngValue="furniture">Furniture</option>
      <option ngValue="health_products">Health Products</option>
      <option ngValue="household_items">Household Items</option>
    </select>
    <span *ngIf="
    (submitted && editForm.get('category_id').errors) || 
    (editForm.get('category_id').errors && editForm.get('category_id').touched)" style="color: red;">
      Please select a valid category!
    </span>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
    <button class="btn btn-danger me-md-2" type="button" routerLink="/seller/manage-product">Cancel</button>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>
