<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Seller Article</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste animi necessitatibus aliquid laboriosam asperiores
      deleniti adipisci quaerat at doloremque esse voluptas aspernatur fugit recusandae, nostrum corporis accusantium
      veniam error assumenda, officiis itaque nulla fugiat provident incidunt. Saepe laboriosam, adipisci excepturi nisi
      totam aliquam quis esse voluptates dignissimos corrupti labore sapiente est possimus quisquam quam praesentium
      culpa eligendi quae ea quia autem. Fugit fuga quasi perferendis. Laborum voluptatibus animi, autem quam quidem
      accusamus, possimus, quaerat necessitatibus assumenda hic ratione temporibus fugit. Corrupti libero possimus
      incidunt asperiores quibusdam cumque, quis doloribus blanditiis iste odit architecto voluptate nam ea impedit,
      aliquam dolor ex. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa debitis incidunt porro sed
      perferendis dolore quo dignissimos mollitia! Facere, doloribus. Sequi nobis perspiciatis, sed fuga fugit ea vero,
      aliquid eum quisquam perferendis in assumenda deserunt, blanditiis laboriosam aliquam natus amet quia? Vel
      incidunt odit adipisci explicabo ipsam quas quaerat! Vel omnis, sint ab temporibus tenetur vitae, sequi nam natus
      velit, autem in neque ducimus ipsa fugiat unde at amet molestias adipisci eos veritatis nihil quibusdam voluptate
      iusto. Suscipit est adipisci repellat tempore laboriosam ullam quidem dolores minima quam animi dignissimos eius
      alias excepturi facere quaerat, aspernatur molestiae dolor, velit architecto.
    </p>
  </div>
</div>
