<div class="card shadow-sm">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
    <rect width="100%" height="100%" fill="#55595c"/>
  </svg>

  <div class="card-body">
    <h5 class="card-title" style="font-weight: 400;">Product Title</h5>
    <p><strong>Rp100.000</strong></p>
    <small class="card-text">This is a description</small>
    <div class="d-flex justify-content-between align-items-center">
      <small class="text-muted">
        <span class="badge rounded-pill text-bg-light">
          <i class="bi bi-star-fill"></i> 5.0
        </span> | Sold 10
      </small>
      <a routerLink="/product/1" class="btn btn-link stretched-link"></a>
    </div>
  </div>
</div>