<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <!-- <button class="btn btn-primary" type="button" routerLink="/seller/add-product"><i class="bi bi-plus"></i>Add
    New</button> -->
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Buyer</th>
      <th scope="col">Address</th>
      <th scope="col">Total Price</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders ; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{order.user_name}}</td>
      <td>{{order.dest_address}}</td>
      <td>{{ order.total_price | currency }}</td>
      <td>
        <span [ngClass]="order.status == 'PAID' ? 'badge text-bg-primary' : 'badge text-bg-success'">
          {{order.status}}
        </span>
      </td>
      <td>
        <button class="btn btn-info m-2" routerLink="/seller/detail-order/{{order.id}}"><i
            class="bi bi-search"></i></button>
      </td>
    </tr>
  </tbody>
</table>
