<header class="mx-3 p-3 border-bottom sticky-top" style="background-color: #fff;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center">

      <div class="col-auto col-lg-2">
        <a class="text-dark text-decoration-none" routerLink="/seller/dashboard">
          <i class="bi bi-bootstrap-fill" style="font-size: 32px;"></i>
        </a>
      </div>

      <!-- <form class="col-auto flex-grow-1 mx-3">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search" routerLink="/catalog">
      </form> -->
      <h3> <i>Welcome back, Seller 1</i> </h3>

      <div class="col-lg-1"></div>

      <div class="col-auto">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-link link-dark dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person" style="font-size: 20px;"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="seller/profile">Profile</a></li>
            <li><a class="dropdown-item" routerLink="seller/change-password">Change Password</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</header>
