<header class="p-3 border-bottom sticky-top" style="background-color: #FAFFFA;">
  <div class=" px-3 container">
    <div class="d-flex flex-wrap align-items-center justify-content-center">

      <div class="col-auto col-lg-2">
        <a class="text-success text-decoration-none" routerLink="/home">
          <i class="bi bi-bootstrap-fill" style="font-size: 32px;"></i>
        </a>
      </div>

      <form class="col-auto flex-grow-1 mx-3">
        <input type="search" class="form-control" placeholder="Search catalog by product name..."
          (input)="onSearch($event.target.value)" aria-label="Search">
      </form>

      <div class="col-lg-1"></div>

      <div class="col-auto" *ngIf="isLogin == true">
        <button routerLink="/cart" type="button" class="btn btn-link link-dark position-relative">
          <i class="bi bi-cart3" style="font-size: 20px;"></i>
        </button>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-link link-dark dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person" style="font-size: 20px;"></i>
          </button>
          <ul class="dropdown-menu">
            <li><h6 class="dropdown-header">{{ buyerInfo[2] }}</h6></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/my-orders">My Orders</a></li>
            <li><a class="dropdown-item" routerLink="/profile/{{buyerInfo[0]}}">Profile</a></li>
            <li><a class="dropdown-item" routerLink="/change-password/{{buyerInfo[0]}}">Change Password</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="onLogout()">Sign out</a></li>
          </ul>
        </div>
      </div>

      <div class="col-auto" *ngIf="isLogin == false">
        <button routerLink="/login" type="button" class="btn btn-link link-dark position-relative">
          Login
        </button>
      </div>
    </div>

  </div>
</header>
