<header class="mx-3 p-3 border-bottom sticky-top" style="background-color: #fff;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center">

      <div class="col-auto col-lg-2">
        <a class="text-dark text-decoration-none" routerLink="/home">
          <i class="bi bi-bootstrap-fill" style="font-size: 32px;"></i>
        </a>
      </div>

      <form class="col-auto flex-grow-1 mx-3">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search" routerLink="/catalog">
      </form>

      <div class="col-lg-1"></div>

      <div class="col-auto">
        <button routerLink="/cart" type="button" class="btn btn-link link-dark position-relative">
          <i class="bi bi-cart3" style="font-size: 20px;"></i>
          <span class="position-absolute translate-middle badge rounded-pill bg-danger" style="top: 30%; left: 90%">
            1
          </span>
        </button>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-link link-dark dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person" style="font-size: 20px;"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/my-orders">My Orders</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</header>
